*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

.caja__principal{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    
    
}

.text__visor{
    display: inline-block;
    margin-top: 50px;
    background-color: aqua;

}

.caja__botones{
    display: flex;
    flex-direction: row;

}

.teclado__numerico{
    display: flex;
    /*flex-direction: column-reverse;*/
    


}

.numeral147{
    display:flex;
    flex-direction: column;
}

.cero258{
    display:flex;
    flex-direction: column;
}

.punto369{
    display:flex;
    flex-direction: column;
}

.btn_backSpace{
    display:flex;
    flex-direction: column;
}

.teclado_Operaciones{
    display: flex;
    flex-direction: column;
}